body {
  font-family: "Roboto", sans-serif;}

img {
  max-width: 100%;
}

.grybg{
  background: gray;
  transition: .3s;
}


/* Begain Custom Style  */
.main-header .container-fluid,
.slider-section .container-fluid {
  max-width: 1480px;
}
.header-button a {
  border: none;
  position: relative;
  border: none;
  display: inline-block;
  padding: 14px 41px;
  border-radius: 5px;
  color: #fff;
  transition: 0.4s;
  z-index: 111;
  background-color: #e73a3e !important;
  border-color: #e73a3e;
  position: relative;
  text-decoration: none;
  font-size: 17px;
}
.header-button a:hover {
  border-color: rgb(255, 255, 255) !important;
  z-index: 999;
}
.header-button a::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #000000;
  transition: 0.4s;
  color: #fff !important;
  z-index: -1;
  border-radius: 5px;
}
.header-button a:hover::after {
  width: 100%;
}

/* Menu */
.our-primary-menu {
  margin-left: 0 auto;
}
.our-primary-menu {
  text-align: center;
}
ul.our-primary-menu li a {
  text-decoration: none;
  display: inline-block;
  padding: 10px 20px;
  color: rgb(255, 255, 255);
  font-weight: 500;
  margin-left: auto;
  transition: .3s ease-in-out;
}
ul.our-primary-menu li a:hover {
  color: #E73A3E
}

.header-search {
  color: #fafafa;
}
/*  DropDown Menu CSS  */
ul.our-primary-menu li {
  position: relative;
}
ul.our-primary-menu li ul {
  position: absolute;
  width: 300px;
  left: 0;
  top: 160%;
  background: #fafafa;
  list-style: none;
  padding: 10px;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);

  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease-in-out;
}
ul.our-primary-menu li ul li {
  flex-direction: column;
}
ul.our-primary-menu li:hover ul {
  opacity: 1;
  visibility: visible;
  top: 120%;
}

ul.our-primary-menu li ul li a {
}

.header-info {
}
.header-search {
  width: 60px;
  font-size: 22px;
  text-align: center;
  margin-right: 20px;
  border-right: 1px solid #ddd;
}
.header-call {
  width: 220px;
}
.header-call-icon {
  font-size: 33px;
  color: #e73a3e;
}
.header-call-info span {
  position: relative;
  right: 16px;
  color: #fff;
}
.header-call-info a {
  font-weight: 500;
  text-decoration: none;
  font-size: 18px;
  color: #fafafa;
}
.header-call-icon span {
  transform: rotate(94deg);
  float: left;
  margin-right: 13px;
}
.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
  justify-content: flex-end;
}
@media only screen and (max-width: 990px) {
  .navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
  }
  .class-for-visibility {
    margin: 20px 0;
  }
  .header-info.d-flex.align-items-center {
    display: flex;
    justify-content: center;
  }
  .header-call-info {
    position: relative;
    right: 0px;
  }

  p{width: 100%;}
}
.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
  justify-content: flex-end;
}

.background-color {
    transition: 2s !important;
}
.header-call-info {
  position: relative;
  right: 16px;
}

.our-primary-menu ul li a {
  text-decoration: none;
  transition: 0.3s;
}
.our-primary-menu ul li a:active {
  color: #c22022;
}

.navbar-brand img {
    height: 55px;
}



/* ////////// */
.navbar-brand span {
  color: #ffffff;
  font-size: 35px;
  transition: .4s;
  animation: logo 1s ease-in infinite alternate;
}

@keyframes logo{

0%, 50%{
  position: relative;
  top: -8px;
  color: #ffffff;

}
100%{
  position: relative;
    top: 8px;
    color: #fff;
  
}



}