.side-bar-list{
    position: relative;
}

.side-bar-list ul {
    list-style: none;
    padding: 0;
}


.side-bar-list ul li a {
    padding: 0 5px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    transition: .4s ease-in-out;
}
.camera {
    color: #fafafa;
    position: relative;
    margin-right: 11px;
    margin-left: 6px;

}
.side-bar-list ul li {
    padding: 4px 0;
}
span.customize.mt-5.position-relative {
    color: #fafafa;
}
.side-bar-list ul li a:hover{
   letter-spacing: 1px;
   color: cornsilk;
}


body{
    margin: 0;
    padding: 0;

}

.logo img {
    height: 53px;
    color: #fafafa;
}

.logo{padding: 0 15px}

span.mr-3 {
    font-size: 18px;
    position: relative;
    color: #ece1e1f0;
    display: inline-block;
    padding: 12px 10px;
}


.side-bar-list ul {
    list-style: none;
    padding: 0;
    position: relative;
    top: 15px;
}
.side-bar {
    background: #00000073;
    height: 100vh;
    position: absolute;
    z-index: 999;
    padding-right: 105px;
}

.need-place {
    position: relative;
    left: 15px;
    display: flex;
}

.need-place h3 {
    color: rgb(255, 255, 255);
    font-family: 'MonteCarlo', cursive;
    font-weight: 700;
    font-size: 34px;
    position: absolute;
    left: 52px;
    top: 4px;
}