.bannerImg img {
  overflow: hidden;
}
.bannerImg img {
    position: relative;
    top: 45px;
    right: 5px;
}

.for-about-text-need-position {
    position: relative;
    top: 120px;
}


.for-about-text-need-position h1 {
    position: relative;
    color: #fff;
    font-weight: 700;
    font-size: 48px;
    padding: 10px 0;
}

.for-about-text-need-position p {
    color: #fff;
}

@media only screen and (max-width: 900px)  {
    .for-about-text-need-position {
        position: relative;
        top: 120px;
        padding-bottom: 80px!important;
    }
    
    .bannerImg img {
        position: relative;
        top: 45px;
        right: 0px!important;
    }
}