textarea.text-area {
    width: 100%;
    position: relative;
    bottom: 22px;
    margin-bottom: 11px;
}

.add-review {
    padding-top: 2px ;
    padding-bottom: 2px;

}

textarea.text-area {
    width: 100%;
    position: relative;
    bottom: 22px;
    margin-bottom: 11px;
    outline: none;
    border: 1px solid #ddd;
    padding: 12px 12px;
}
textarea.text-area:focus{
    width: 100%;
    position: relative;
    bottom: 22px;
    margin-bottom: 11px;
    outline: none;
    border: 1px solid rgb(255, 44, 44);
    padding: 12px 12px;
}