.aboutBanner{background:url(../../../Images/slider-1.jpg)no-repeat fixed top center;
    position: relative;
    background-size:cover;
     padding-top: 17px;
    }
    
    .aboutBanner::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #000000c7;
    }