.footer-background{background:url(../../../Images/slide3.jpg)no-repeat fixed top center;
    position: relative;
    background-size:cover;
    
    }
    
    .footer-background::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #000000c7;
    }
    .need-border-in-footer-section {
        border-top: 1px solid white;
        position: relative;
        margin-top: 22px;
    }
    .need-border-in-footer-section p {
       margin: 0;
    }
    .first-footer-work.mt-5 {
        position: relative;
        margin-right: 10px;
    }
    .first-footer-work.mt-5 ul li {
        color: #FFF;
        list-style: none;
        display: block;
        line-height: 33px;
        font-weight: 500;
        font-size: 14px;
    }
    .address-item h6 {
        position: relative;
        padding-left: 2px;
        font-weight: 800;
        color: #E73A3E;
        padding-bottom: 6px;
    }
    .second-footer-work.mt-5 ul {
        list-style: none;
        padding-left: 0;
    }
    .second-footer-work.mt-5 ul li {
        display: block;
        color: #fff;
        position: relative;
        font-size: 14px;
        font-weight: 500;
        line-height: 30px;
    }
    footer.footer-background a {
        position: relative;
        display: inline-block;
        margin-right: 47px;
        width: 35px;
        text-align: center;
        color: #fff;
        font-size: 19px;
        border-radius: 50px;
        height: 35px;
        line-height: 33px;
        border: 2px solid #fffefe;
        transition: .4s;
    }
    footer.footer-background a:hover{
        background: #E73A3E;
        color: #fff;
        border: 2px solid #E73A3E;
    }
    .call-part.mt-4 p {
        color: #FFF;
        position: relative;
        font-size: 15px;
    }
    .call-part.mt-4 button {
        position: relative;
        border: none;
        background: linear-gradient(45deg, #44acd4, #6274df);
        padding: 6px 12px;
        color: #e4e0e0;
        border-radius: 6px;
        margin: 5px 0;
        font-size: 13px;
        font-weight: 400;
        padding: 10px 33px;
    }
    .col-lg-12.text-center p {
        color: #FFF;
        position: relative;
        font-weight: 400;
        font-size: 13px;
        padding: 19px 0;
    }
    .first-footer-work.mt-5 ul {
        color: #FFF;
        list-style: none;
        display: block;
        line-height: 33px;
        font-weight: 500;
        font-size: 14px;
        padding-left: 0;
        margin-left: 0;
    }

    .call-part a {
        border: none!important;
        text-decoration: none;
    }
    .call-part a:hover{
        background: none!important;
    }