.blog-item a {
    text-decoration: none;
    color: black;
}

.blog-item h4 {
    padding: 10px 0;
    color: #FF4F5A;
}

.blog-img img {
    height: 223px;
}

.blog-item h4 {
    padding-top: 12px;
    color: #FF4F5A;
    line-height: 2rem;
}


.blog-item p {
    color: #767676;
}

.blog-img img {
    height: 237px;
}

.blog-item {
    text-decoration: none;
    color: #FF4F5A;
    border: 1px solid #ddd;
    border-radius: 0 0 6px 6px;
    transition: .3s ease-in-out;
}
.blog-item:hover {
    text-decoration: none;
    color: #FF4F5A;
    border: 1px solid #ddd;
    border-radius: 0 0 60px 0px;
}


.blog-item span {
    color: #f73a18;
    padding-bottom: 15px;
    display: block;
    font-size: 14px;
    font-weight: 500;
}